<%- include("header") %>

<div class="container-fluid">
     <h1 class="simple">Please enter the password to continue:</h1>

     <form class="simple" action="/quitting-facebook" method="post">
          <input type="password" name="password" placeholder="password" autofocus>
          <button type="submit" name="button">Continue</button>
     </form>

</div>

<%- include("footer") %>
