<%- include("header") -%>

<!-- <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0&appId=794683231268208&autoLogAppEvents=1" nonce="UFApCDCo"></script> -->

<div class="container-fluid">

     <div class="row">
          <div class="section-one col-lg-6 col-md-6 col-sm-12">
                    <h1 class="display-4">Good news! I'm breaking up with Facebook.</h1>
                    <img class="headshot" src="/images/zuck.png" width="200" height="200">
          </div>

          <div class="section-two col-lg-6 col-md-6 col-sm-12">
               <img class="headshot" src="/images/me.png" width="200" height="200">
               <h2 class="mb-3">But I'd love to stay in touch!</h2>
               <p class="mb-3 font-weight-normal">Please authenticate with Facebook before sending your contact info:</p>
               <!-- <div class="fb-login-button mt-2 mb-4" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="true" data-use-continue-as="true" data-width=""></div> -->
               <!-- <button class="btn btn-primary" type="button" name="button" onclick="/quitting-facebook/auth/facebook">Authenticate with Facebook</button> -->
               <a href="/quitting-facebook/auth/facebook">authenticate</a>
               <h2 class="mb-3 font-weight-normal helper-text">Why?</h2>
               <p class="helper-text px-lg-5">Authenticating with Facebook will help me prevent anyone from entering false info on you and will automatically pass me your name, email, and profile picture.</p>
          </div>
     </div>
</div>

<%- include("footer") -%>
