<%- include("header") -%>

<div class="container-fluid">

     <div class="row">
          <div class="section-one col-lg-6 col-md-6 col-sm-12">
                    <h1 class="display-4">Good news! I'm breaking up with Facebook.</h1>
                    <img class="headshot" src="/images/zuck.png" width="200" height="200">
          </div>

          <div class="section-two col-lg-6 col-md-6 col-sm-12">
               <img class="headshot" src="/images/me.png" width="200" height="200">
               <h2 class="mb-3">But I'd love to stay in touch!</h2>
               <p class="mb-3 font-weight-normal">Please enter password before sending your contact info:</p>
  
               <form action="/quitting-facebook" method="post">
                    <input type="password" name="password" placeholder="password" autofocus>
                    <button class="btn btn-primary btn-continue" type="submit" name="button">Continue</button>
               </form>
          </div>
     </div>
</div>

<%- include("footer") -%>
