<%- include("header") -%>

<div class="container-fluid">

     <div class="row">
          <div class="section-one success col-lg-6 col-md-6 col-sm-12">
               <h1 class="display-4">Success!</h1>
               <p class="lead">Your details have been saved.</p>
          </div>
          <div class="section-two col-lg-6 col-md-6 col-sm-12">
               <img class="headshot" src="images/me.png" width="200" height="200">
               <h2 message mb-3>My contact info</h2>
               <table class="my-details" style="width:100%">
                 <tr>
                      <td class="first-column">Email:</td>
                      <td class="my-email">example@exampe.com</td>
                 </tr>
                 <tr>
                      <td class="first-column">Phone #:</td>
                      <td class="my-phone">(555) 555-5555</td>
                 </tr>
                 <tr>
                      <td class="first-column">Mastodon:</td>
                      <td class="my-mastodon">(555) 555-5555</td>
                 </tr>
                 <tr>
                      <td class="first-column">Twitter:</td>
                      <td class="my-twitter">(555) 555-5555</td>
                 </tr>
                 <tr>
                      <td class="first-column">Diaspora*:</td>
                      <td class="my-diaspora">(555) 555-5555</td>
                 </tr>
                 <tr>
                      <td class="first-column">WT.social:</td>
                      <td class="my-wtsocial">(555) 555-5555</td>
                 </tr>
                 <tr>
                      <td class="first-column">Minds:</td>
                      <td class="my-minds">(555) 555-5555</td>
                 </tr>
                 <tr>
                      <td class="first-column">Discord:</td>
                      <td class="my-discord">(555) 555-5555</td>
                 </tr>
                 <tr>
                      <td class="first-column">Steam:</td>
                      <td class="my-discord">(555) 555-5555</td>
                 </tr>
                 <tr>
                      <td class="first-column">Personal Website:</td>
                      <td class="my-website">(555) 555-5555</td>
                 </tr>
               </table>
          </div>
     </div>
</div>


<%- include("footer") -%>
